body {
	margin: 0px;
}
.chatroom {
	height: 100%; 
	background-image: url('./popcorn.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	width: 100%;
	height: 80px;
	background-color: #228B22;
}
.header h1{
	width: 800px;
	height: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
	color: white;
}
.sidebar{
	width: 200px;
	float: left;
	height: 400px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}
.middle{
	width:600px;
	height: 500px;
	font-size: 15px;
	font-weight: bold;
	float: left;
}
.middle .chat_to{
	border: 2px black solid;
	background-color: #fff;
	width: 600px;
	height: 50px;
	font-size: 30px;
}
.middle .msg{
	border: 2px black solid;
	background-color: #fff;
	width: 600px;
	height: 400px;
	overflow: hidden;
}
.middle input[name=image]{
	background-color: #fff;
	display: inline-block;
	width: 250px;
	height: 25px;
	margin: auto;
}
.middle input[type=submit]{
	display: inline-block;
	width: 50px;
	height: 25px;
	margin: auto;

}
.middle input[name=path]{
	display: inline-block;
	width: 250px;
	height: 25px;
	margin: auto;
}
.middle .input_msg{
	border: 2px black solid;
	background-color: #fff;
	width: 550px;
	height: 50px;
	overflow: auto;
}
.middle button{
	width: 50px;
	height: 50px;
	display: inline-block;
}

